:root {
  --squareSize: 15px;
  --defaultColor: #767676;
  --darkgreen: rgb(25, 97, 39);
  --green: rgb(35, 154, 59);
  --lightgreen: rgb(198, 228, 139);
  --gray: rgb(235, 237, 240);
  --numWeeks: 52;
  --grid-gap: 5px;
  --github-gap: 10px;
}
.github {
  display: grid;

  grid-template-columns: max-content 1fr;
  grid-gap: var(--github-gap);
  grid-template-areas:
    ". months"
    "weekdays contributions";

  font-size: 14px;
  color: var(--defaultColor);
}

.weekdays {
  grid-area: weekdays;
}

.contributions {
  grid-area: contributions;
}

.weekdays,
.contributions {
  display: grid;
  grid-gap: var(--grid-gap);
  grid-template-rows: repeat(7, var(--squareSize));
}

.months {
  grid-area: months;
  padding: 5px 0;

  display: grid;
  grid-template-columns: repeat(var(--numWeeks), var(--squareSize));
  grid-column-gap: var(--grid-gap);
  justify-items: center;
  align-items: center;
}

.month {
  grid-row: 1;
}

.mar { grid-column: 1 / span 5; }
.apr { grid-column: 6 / span 4; }
.may { grid-column: 10 / span 5; }
.jun { grid-column: 15 / span 4; }
.jul { grid-column: 19 / span 5; }
.aug { grid-column: 24 / span 4; }
.sep { grid-column: 28 / span 4; }
.oct { grid-column: 32 / span 5; }
.nov { grid-column: 37 / span 4; }
.dec { grid-column: 41 / span 4; }
.jan { grid-column: 45 / span 5; }
.feb { grid-column: 50 / span 3; }

.contributions {
  grid-auto-flow: column;
  grid-auto-columns: var(--squareSize);
}

.square {
  border: 1px solid var(--defaultColor);
}

.darkgreen {
  background: var(--darkgreen);
}

.green {
  background: var(--green);
}

.lightgreen {
  background: var(--lightgreen);
}

.gray {
  background: var(--gray);
}
